.pro-tab,.pro-tab-data {
    padding: 0px;
}
.pro-tab
{
    margin-top: 0px; 
}

.pro-tab ul {
    list-style: none;   
    padding: 0;
    display: flex;
}

.pro-tab ul li {
    border: 1px solid orange;
    padding: 10px 20px;
    text-align: center;
    width: 33vw;
    background: lightgoldenrodyellow;
    transition: .5s;
    font-size: 13px;
}
.pro-tab ul li:first-child {
    border-left: 1px solid orange;
}

.pro-tab ul li:hover {
background: var(--hover-color) !important;
}
.li-active{
    border-bottom: 1px solid white !important;
    background-color: white !important;
    color: orange;
    border-radius: 20px 20px 0 0;
    transition: .5s;

}
.pro-tab-data
{
    height: max-content;
    border-radius: 0px 0 6px 6px;
    padding:10px 0 20px 0;
}
@media only screen and (min-width: 800px)
{
   
    .pro-tab-data .container
    {
        padding: 20px 40vw 20px 20px;
    }
}

.pro-controls
{   
    padding:0 9px;
    display: flex;
    justify-content: flex-end;
}
.pro-shadow
{
    box-shadow: 1px 1px 19px 6px #e7e7e7; 
    width: 90vw; 
    margin:0 5vw;
    margin-top: 20px;
    border:1px solid orange;
    padding-top: 20px;
}

input[type='date']:after {
    content: attr(placeholder)
  }