.banner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid orange;
    margin: 10px 0;
    background: lightgoldenrodyellow;    
    justify-content: space-between;
}
.flex-logo
{
    height: 100px;
    margin-top: 20px;
}
.flex-logo .ban-icon
{
    position: relative;
}
.flex-logo .ban-icon img
{
    position: absolute;
    width: 100px !important;
    height: 80px !important;
    left: 0;
    top: -61px;
}

.banner-container .ban-icon {
    min-width: 200px;
    padding: 0;
}

.banner-container .ban-icon img {
    width: 200px;
    height: 100px;
}

.banner-container .ban-text {
    text-align: justify;
    padding: 10px;
    font-size: 13px;
    font-family: cursive;
    display: block;
}

.banner-container .ban-btn {
    padding: 10px;
    min-width: 23vw;
}

@media screen and (max-width: 500px) {
    .banner-container .ban-text {
       display: none;
    }

    .banner-container {
        justify-content: space-between;
    }

    .banner-container .ban-btn {
        padding: 10px;
        min-width: 40vw;
    }

    .banner-container .ban-icon {
        min-width: 30vw;
    }
}