.home-box-astro-list
{
    margin-bottom: 10px;
    overflow-y: hidden;
}
.home-box-kundali {
    padding: 11px;
}
.ast-carousel .carousel-item img
{
 height: 200px;
}
@media only screen and (max-width: 768px)
{
    .home-box-astro-list
    {
        height: 400px;
        overflow-y: hidden;
    }
    .home-box-horo {
        height: 480px;
    }
    .ast-carousel .carousel-item img
    {
    height: 150px;
    }
    .home-box-kundali {
        height: 335px;
    }
}
@media only screen and (min-width: 852px)
{
    .home-box-kundali {
        height: 335px;
    }
}

.home-box-kundali {
    height: 335px;
    margin-bottom: 15px;
}