.hflex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

.hflex .h-zodiac-period {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
}

.hflex .h-zodiac-period div:first-child {
    font-size: 27px;
    font-weight: 700;
}

.hflex .h-zodiac {
    border: 1px solid orange;
    border-radius: 39px;
    padding: 5px;
    margin: 10px;
}

.hflex .h-zodiac img {
    width: 100px;

}

.hflex-para {
    text-align: justify;
    border-bottom: 1px solid orange;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-family: serif;
}

.horoPage .banner-container {
    flex-direction: column;
}

.horoPage .banner-container .ban-icon {
    min-width: 100%;
    padding: 0;
}

.horoPage .banner-container .ban-icon img {
    min-width: 100%;
    padding: 0;
}

.horoPage .banner-container.flex-logo .ban-icon img {
    min-width: 80px !important;
    top: -14px;
}

.horoPage .banner-container.flex-logo {
    height: 200px !important;
}

.horoPage .banner-container.flex-logo .ban-text {
    margin-top: 50px;
}

@media only screen and (max-width: 500px) {
    .horoPage .banner-container.flex-logo .ban-text {
        display: block;
    }

    .horoPage .banner-container.flex-logo {
        height: 200px !important;
    }

    .horoPage .col:first-child {
        width: 100vw !important;
    }

    .horoPage .col:nth-child(2) {
        width: 100vw !important;
    }
}
@media only screen and (max-width: 800px) {
    
    .horoPage .col:first-child {
        width: 100vw !important;
    }

    .horoPage .col:nth-child(2) {
        width: 100vw !important;
    }
}

.horo-list {
    border: 1px solid #e7e7e7
}

.horo-list .horo-list-header {
    padding: 20px;
    text-align: center;
    border: 1px solid #e7e7e7;
    color: orange;
    background-color: lightgoldenrodyellow;
}

.horo-list ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    background-color: lightgoldenrodyellow;
}

.horo-list ul li {
    padding: 10px 20px;
    cursor: pointer;
}
.horo-list ul li:hover
{
    background-color: var(--hover-color) !important;
}
.horo-list ul li div:nth-child(2)
{
    font-size: 13px;
}
.horoPage .col:first-child {
    width: 45vw;
}

.horoPage .col:nth-child(2) {
    width: 20vw;
}
.int-selected
{
    color: orange;
}

.planet-header
{
    
    height: 58px;
    margin-top: -37px;
    margin-bottom: 20px;
    background-color: #ffffff !important;
    z-index: 100000;
    display: block;
    position: relative;
    border-radius: 33px 33px 0 0;
    padding: 15px 0;
    text-align: center;
}

.planet-rotate
{
    height: 320px;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/Images/planetBanner.png');
}
.planet-rotate img
{
    width: 200px;    
    animation: mymove 30s linear infinite;
}

@keyframes mymove {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
  }
