.signup-banner
{
width: 383px;
height: 100%;
}

.signup-modal-body
{
padding: 0;
}
.signup-header
{
    font-size: 20px;
    border-bottom: 2px solid orange;
    padding-bottom: 10px;
}

.signup-btn{
    text-align: center;
}

.signup-btn > button{
    background-color: orange;
    border: 2px solid rgba(255, 166, 0, 0.815);
    color: white;
    border-radius: 27px;
    padding: 7px;
    width: 200px;
}
.signup-btn > button:hover{
    background-color: rgb(192, 150, 7);
    transition: .6s;
}
.signup-msg
{
    text-align: center;
    font-size: 11px;
}

.btn-close
{
    float: right;
    margin: 8px;
    position: absolute;
    right: 0;
}
.login-social-btn
{
    width: 100%;
    text-align: left;
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #0000c1 !important;
    box-shadow: 2px 2px 6px grey;
   color: rgba(0, 0, 0, 0.54)
}

.login-social-btn>div{
    padding: 4px 10px !important;
}
.login-social-btn>span
{
    padding: 0px !important;
}

.login-social-btn i{
    border-right: 3px solid #ffa500;
    padding: 0 8px;
    font-size: 16px;
    margin-right: 16px;
    color: #0000c1 !important;
}
.login-social-btn svg{
    border-right: 3px solid #ffa500;
    padding-right: 1px;
    width: 26px;
    height: 20px;
}