:root {
  --font-size: calc(10px + 2vmin);
  --header-height:60px;
  --header-color:#e84949;
  --header-font-color:rgb(245, 241, 241);
  --heading-color:#ffa500;
  --button-color:#ffa500;
  --button-font-color:#ffffff;
  --leftmenu-max-width:300px;
  --leftmenu-trans-time:1s;
  --hover-color:rgba(0, 255, 255, 0.288);
  --control-font-size:12px;
  --list-font-size:14px;
  --focus-color:rgba(0, 255, 255, 0.288);
  --whatsapp-color: #25D366;
  --facebook-color: #4267B2;
  --twitter-color: #1DA1F2;
  --scrollbar-width: 10px;
  --scrollbar-track-color :#f7d698;
  --scrollbar-thumb-color:#ffb300;
  --webkit-scrollbar-thumb-hover-color: orange;
}