:root {
    --font-size: calc(10px + 2vmin);
    --header-height:60px;
    --header-color:#8cbbf1;
    --header-font-color:rgb(245, 241, 241);
    --leftmenu-max-width:300px;
    --leftmenu-trans-time:1s;
    --hover-color:rgb(0, 174, 255);
    --control-font-size:12px;
    --list-font-size:14px;
  }