
.bjk-footer
{
  width: 100vw !important;
    border: 1px solid #eaeaeb;
    height: 80vh;
    position: fixed;
    bottom: -72vh;
    /* border-radius: 4px; */
    background-color: #eaeaeb;
    transition: 1s;
    overflow-x: hidden;
}
.footer-expand
{
  bottom: 0 !important;
  transition: 1s;
  border-radius: 21px 21px 0 0;
}

.control-btn
{
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
    font-size: 22px;
}
.footer-bot-menu
{
  padding: 5px 20px;
  text-align: center;
}

.breadcrumb-item+.breadcrumb-item::before
{
    content: '||';
}
.breadcrumb-item a
{
text-decoration: none !important;
color: black !important;font-size: 11px;
}
.breadcrumb
{
  display: inline-flex;
}

.ul-buttons
{
  list-style: none;
  padding: 0;
  margin: 0;
}
.ul-buttons li{
  width: 25vw;
  text-align: center;
}
.fa-share-nodes
{
  font-size: 23px;
  padding-top: 4px;
}

@media screen and (orientation: landscape ) and (max-width: 852px) {
  .bjk-footer {
    bottom: -69vh;
  }
}