
.bjk-footer
{
  width: 100vw !important;
  border: 1px solid #eaeaeb;
  height: 50px;
  position: fixed;
  /* border-radius: 4px; */
  background-color: #eaeaeb;
  transition: 1s;
  overflow: hidden;
  z-index: 1000000000;
  bottom: 0;
}
.footer-expand
{
  bottom: 0 !important;
    transition: 1s;
    border-radius: 21px 21px 0 0;
    height: 300px;
}

.control-btn
{
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
    font-size: 22px;
}
.footer-bot-menu
{
  padding: 5px 20px;
  text-align: center;
}

.breadcrumb-item+.breadcrumb-item::before
{
    content: '||';
}
.breadcrumb-item a
{
text-decoration: none !important;
color: black !important;font-size: 11px;
}
.breadcrumb
{
  display: inline-flex;
}

.ul-buttons
{
  list-style: none;
  padding: 0;
  margin: 0;
}
.ul-buttons li{
  width: 25vw;
  text-align: center;
}
.fa-share-nodes
{
  font-size: 23px;
  padding-top: 4px;
}

.ul-buttons .whatsapp{
  font-size: 27px;
    color: var(--whatsapp-color);
    font-weight: 900;
}
.to-top
{
  animation-name: ani-to-top;
  animation-duration: 1s;
  
  animation-iteration-count: infinite;
}

@keyframes ani-to-top {
  0%   {font-size: 22px;}
  50% {font-size: 26px;}
  100%   {font-size: 22px;}
}

.footer-inner
{
  overflow-x: hidden;
  overflow-y: auto;
  height: 247px;
}