.kun-box{
    padding: 0px;
    width: 100%px;
    border: 1px solid #e7e7e7;
    font-size: var(--list-font-size);
    height: 310px;
    margin-bottom: 20px;
    overflow: hidden;
}

.kun-box ul li:hover
{
    background:var(--hover-color);
}

.dflex{
    display: flex;
    width: 100%;
}
.kun-box-header .ast-tag-line{
    padding: 5px 16px;
    margin-bottom: 10px;
}
.kun-box-header img{
    width: 100%;
    height: 100px;
}
.mat-buttons
{
    display: flex;
}
@media only screen and (max-width: 768px)
{
    .kun-box
    {
        margin-bottom: 0 !important;
    }
    .kun-box-header .ast-tag-line{
        font-size: 12px !important;
       }

}