.left-menu
{
  max-width: var(--leftmenu-max-width);
  width: 0vh;
  position: fixed;
  top:var(--header-height);
  left: 0;
  height: 100%;
  display: block;
  transition: width var(--leftmenu-trans-time);    
  box-shadow: 5px 5px 11px 0px grey;
  overflow-x: hidden;
  z-index: 1000000001;
}
.left-menu .menu,.sub-menu{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    width: 50vw;
    max-width: var(--leftmenu-max-width);
    background: white;
    height: 100%;
}
.left-menu .menu .menu-item
{
padding: 12px 6px;
border-bottom: 1px solid #e7e7e7;
transition: .6s;
}
.left-menu .menu a
{
text-decoration: none !important;
color: black;
}
.left-menu .menu .menu-item i
{
margin: 5px;
}
.left-menu .menu .menu-item:hover
{
transition: .4s;
border-right: 4px solid red;
background-color: var(--hover-color);
}
/* .left-menu .menu .menu-item span
{
    
}

.left-menu .menu .sub-menu{

}

.sub-menu
{

} */

.left-menu-layover-active
{
    width: 100vw !important;
    transition: width var(--leftmenu-trans-time);
}
.left-menu-active
{
    width: 50vw;
    transition: width var(--leftmenu-trans-time);
}
.left-menu-layover
{
  background-color: #0000008c;
  position: fixed;
  left: 0;
  top: 0;
  width: 0vw;
  height: 100vh;
  z-index: 1000000000;
  transition: var(--leftmenu-trans-time); 
}

.left-menu-card-list
{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}
.left-menu-card-list-item
{
display: flex;
}
.left-menu-card-list-item .user-logo img
{
  width: 32px;
}
.left-menu-card-list-item .user-logo
{
  width: 20%;
}
.left-menu-card-list-item span
{
  width: 80%;
  padding: 4px 0 0 0;
}