.noti-container {
    min-width: 300px;
    padding: 10px;
    background: white;
    border-radius: 6px;
    display: none;
    position: absolute;
    transform: translate(-235px, 15px);
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: .7s;
}
.noti-container:hover
{
    overflow-y: auto;
    transition: .7s;
}
.noti-container::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #ffffff;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
    right: 49px;
    top: -9px;
    transform: rotate(45deg);
  }

.test:focus+.noti-container {
    display: block;
}

.noti-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 12px;
    color: black;
}

 .noti-list .noti-list-item {
    border: 1px solid #bdbcbc;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    cursor: pointer;
}

.noti-list .noti-list-item:nth-child(odd) {
    border-left: 4px solid orange;
}

.noti-list .noti-list-item:nth-child(even) {
    border-left: 4px solid rgb(255, 72, 0);
}

.noti-list .noti-list-item:nth-child(4n) {
    border-left: 4px solid rgb(30, 255, 0);
}

.noti-list .noti-list-item:nth-child(3n) {
    border-left: 4px solid rgb(0, 68, 255);
}

.noti-list .noti-list-item .Noti-section-1 {

    padding: 15px 5px;
}

.noti-list .noti-list-item .Noti-section-2 {

    padding: 15px 5px;
    width: max-content;min-width: 73px;
    text-align: right;
}

.noti-page-container
{
    padding: 10px 30px;
}
@media only screen and (max-width: 600px)
{
    .noti-list {      
        padding: 020px;
    }
    .noti-list .noti-list-item {
        margin: 5px 0;
        border-radius: 4px;
    }
    .noti-page-container
{
    padding: 0px;
}
}