.social-media-list
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-media-list-item
{
    padding: 5px 10px;
}
.social-media-list-item i
{
    margin: 0 6px;
}
.social-media-list-item:hover
{
background-color: var(--hover-color);
}
.whatsapp:hover{
background-color: var(--whatsapp-color);
color: black;
}
.facebook:hover{
    background-color:var(--facebook-color);
    color: black;
}
.twitter:hover{
    background-color: var(--twitter-color);
    color: black;
}
.whatsapp{
    color: var(--whatsapp-color);
    }
    .facebook{
        color:var(--facebook-color);
    }
    .twitter{
        color: var(--twitter-color);
    }

    .social-media-list a{
        text-decoration: none;
    }
    .btn-close
    {
        display: block !important;
    }
    .share.btn-close
    {
        display: block !important;
    }