.pay-banner-container {
    padding: 10px;
    border-bottom: 2px solid lightsalmon;
    border-top: 2px solid lightsalmon;
    margin: 5px 0;
}

.pay-banner-list {
    margin-bottom: 30px;
}

.pay-banner-list>.col {
    padding: 6px;
}

.pay-banner-list>.col>img {
    width: 90px;
    padding: 6px;
    border: 1px solid;
    margin: 2px;
}

.banner-text {
    text-align: center;
    font-size: 20px;
    padding: 6px 10px;
}

@media only screen and (min-width: 700px) {
    .pay-banner-list {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        align-items: stretch;
    }
}