body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
.bjk-nav
{
  color: var(--header-font-color);;
  background-color: var(--header-color);
  width: 100%;
  height: var(--header-height);
  padding:0 0 0 0;
  box-shadow: 1px 2px 4px grey;
  z-index: 1000000000000000000;
  position: fixed;
  left: 0;
  top: 0;
}

.logo-name{
  max-width: 200px;
  height: 38px;
  width: 55vw;
}
.logo{
  width: 40px;
}

.humberger-bar
{
  font-size: 18px;
    padding: 11px 0 0 8px;
    cursor: pointer;
    color: var(--header-font-color);
    transition: color .5s;
}
.humberger-bar:hover
{
  color:red;
  transition: color .5s;
}
.tc{
  text-align: center;
  padding:6px !important;
}
.content-area
{
  margin-top: 22px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    padding-bottom: 100px;
    max-height: 100vh;
}
@media screen and (orientation: landscape ) and (max-width: 852px) {
  .content-area {
      height: 100vh;
      padding-bottom: 10px !important;
  }
}
@media only screen and (max-width: 768px)
{
  .bjk-footer {
    bottom: -75vh !important;
  }
}
.clickable
{
  text-decoration: underline;
    cursor: pointer;
    color: orange;
    transition: .6s;
}

.clickable:hover
{
  color: aqua;
  transition: .6s;
}
.ast-tag-line
{
    text-align: center;
    color: orange;
    padding: 10px 20px 10px 20px;
    font-family: unset;
    border-bottom: 1px solid;
    font-weight: 900;
}

#root
{
  overflow: hidden;
    width: 100vw;
    height: 100vh;
}
