body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.tc {
  text-align: center;
  padding: 6px !important;
}

.content-area {
  margin-top: 0px;
}

.content-area-admin {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
}

@media screen and (orientation: landscape) and (max-width: 852px) {
  .content-area {
    height: 100vh;
    padding-bottom: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .content-area {
    margin-top: 60px;
  }
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
  color: var(--heading-color);
  transition: .6s;
}

.clickable:hover {
  color: aqua;
  transition: .6s;
}

.ast-tag-line {
  text-align: center;
  color: var(--heading-color);
  ;
  padding: 10px 20px 10px 20px;
  font-family: unset;
  border-bottom: 1px solid;
  font-weight: 900;
}

#root {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

select:focus {
  background-color: var(--focus-color) !important;
}

input:focus {
  background-color: var(--focus-color) !important;
}

.pb-80 {
  padding-bottom: 0px;
}

.root-area {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.ast-toast
{
  margin-top: 60px !important;
}